# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/


# Data & logs
data_outputs/
*.log

# IDE
.vscode/
.idea/

# Environment & Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Database
*.db
*.sqlite

# Models (large files)
*.pt
*.pth
scaler.save
